body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #35424a;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1; 
  padding: 20px;
}

.places {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  right: 30%;

}

.places article {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 1 calc(50% - 20px); 
  justify-content: center;
  left: 30%;
}

.places img {
  max-width: 100%;
  height: 200px; /* Adjust image size */
  object-fit: cover; /* Ensures the image is cropped to fit nicely */
  border-radius: 5px;
  justify-content: center;
  right: 40%;
}

footer {
  background: #35424a;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

form label {
  margin: 10px 0 5px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #35424a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
